body {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  margin: 65px 0 30px;
  padding: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  background-color: #f6f6f6;
  color: rgba(0, 0, 0, .87);
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 200;
}

#outer {
  width: 600px;
  margin: 0 auto;
}

.card {
  cursor: pointer;
  padding: 16px 16px 20px;
  margin: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .1);
  background-color: #fff;
  transition: all .2s ease-in-out;
}

.card-label {
  display: block;
  margin-bottom: 13px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  color: #999;
}

.card .headline {
  color: #26ABA6;
  display: block;
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 10px;
}

.card .score {
  display: inline-block;
  width: 100px;
  text-align: right;
  font-size: 2em;
  font-weight: bold;
  color: #777;
}

.new-card {
  margin-top: 30px;
  cursor: pointer;
  padding: 0 0 30px;
}

.new-card,
.card.selected {
  box-shadow: 0 10px 8px rgba(0, 0, 0, .15);
}

.card.selected {
  transform: scale(1.02);
}

.new-card-top {
  padding: 16px 16px 10px;
}

.new-card input {
  border: none;
  display: block;
}

.new-card headline {
  width: 100%;
}

.new-card input:focus,
.new-card textarea:focus {
  outline: none;
}

.body-text,
.card .address,
.card .time {
  line-height: 24px;
}

.tags {
  display: block;
  margin-top: 10px;
  color: #ccc;
  width: 100%;
}

.new-card textarea {
  width: 100%;
  border: none;
  font-size: 14px;
  resize: none;
  font-weight: 200;
  height: 150px;
}

.new-card .tags {
  margin: 10px 0;
}

.new-card .buttons {
  border-top: 1px solid #eee;
  margin-bottom: 20px;
  padding: 10px 16px 0;
}

.new-card .buttons div {
  display: inline-block;
  float: left;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, .54);
  margin-top: 10px;
}

.new-card .buttons button {
  display: inline-block;
  float: right;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 2px;
  font-weight: 400;
  color: #fff;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 24px;
  cursor: pointer;
  outline: none;
}

.event-options {
  line-height: 25px;
}

.event-options-button {
  color: #3F51B5;
  margin: 10px 0;
}

.event-options input {
  display: inline-block;
}

.form-label {
  width: 50px;
  display: inline-block;
}

.details, .none {
  font-weight: bold;
  font-size: 2em;
  border-style: dashed none none none;
  border-color: #ccc;
  border-width: 4px;
  margin: 50px 10px;
  padding: 10px 0px;
}

.none {
  color: #777;
}

.inc {
  cursor: pointer;
}

#login-buttons {
  display: none;
}

.hide {
  display: none;
}

.user-select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  float: right;
}

.control {
  background-color: #26C6DA;
  color: #fff;
  padding: 16px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.menu-button {
  float: left;
}

.menu-button img {
  height: 15px;
}

